* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*:focus,
*:active {
    outline: none !important;
    -webkit-tap-highlight-color: transparent;
}

body {
    background: url(../img/7e2d7bea4ac21388c4a96e1371f375c4ce00094b.jpeg) center center /  cover ;
    font-family: 'Press Start 2P', cursive;
    color: #fff;
    
}

.title {
    font-size: 60px;
    margin: 30px 0 100px;
    text-align: center;
}

.main__title { 
    text-align: center;
    color: #FFD700;
    margin-bottom: 100px;
}

.btns {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.difficulty {
    font-size: 40px;
    text-decoration: none;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    background: red;
    color: #FFD700;
    margin-bottom: 35px;
    border-radius: 10px;
    transition: 0.3s;
}

.difficulty :last-child {
    margin-bottom: 0px;
}

.difficulty:hover {
    color: red;
    background-color:#FFD700;
}

footer {
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
}

.score {
    margin-left: 25px;
    font-size: 30px;
    color: #FFD700;
}

.godName { 
    margin-right: 20px;
}

@media (max-width: 414px) {
    .title {
        font-size: 40px;
    }
    
    .main__title { 
        text-align: center;
        color: #FFD700;
        margin-bottom: 50px;
    }
    
    
    .difficulty {
        font-size: 30px;
        text-decoration: none;
        margin-bottom: 25px;
        border-radius: 10px;
        transition: 0.3s;
    }
    
    .score {
        margin-left: 5px;
        font-size: 20px;
        color: #FFD700;
    }
    
    .godName { 
        margin-right: 10px;
        margin-right: 5px;
    }
}